{{#if (and session.isAuthenticated showNav)}}
  {{nav-bar routeName=routeName}}
{{/if}}
{{#if (eq currentPath 'login')}}
  {{outlet}}
{{else}}
  <div class="ui container pusher" style="padding-top: 10px">
    {{outlet}}
  </div>
{{/if}}{{log currentRoute}}